* {
    margin: 0;
    padding: 0;
    font-family: "Lato",sans-serif;
    
}
/* h3{
    font-weight: 8%;
} */
a,i{
    text-decoration: none;
    color: white; 
}
.nav-left{
    float: left;
    margin-top: 35px;
    margin-left:50px;

}
.nav-right{
    float : right;
    padding-right: 50px;

}
.options li {
    float: left;
    list-style: none;
    margin-top: 35px;
    margin-left: 50px ;
    margin-right:20px;
    font-size: 120%;
    /* padding-bottom: 6px; */
}
.header{
    background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url(./img/hero.jpeg);
    background-size:cover;
    width: 100%;
    height: 625px;

}
.icon{
    font-size: 32px;   
}
.nav-left h1:hover{
    transform:scale(1.07);
}
.header img{
    filter: brightness(50%);
}
.options li{
    display: inline-block;
    
}
.options li:hover i{
    color: #ffbe76;
    display: none;
}
.options li a{
    display: block;
}
.options li h3{
    display: none;
    padding:5px 0px;
}
.options li:hover h3{
    display: block;
    color: #ffbe76;
}