* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

h1 {
    font-size: 2.1em;
}

p {
    font-size: 1.5em;
}

/*********************
        MEDIA QUERIES 
 /* ************************/
@media screen and (max-width: 780px) {
    
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background-position: center;
    }
    .nav-left,.nav-right{
        display: none;
    }

    .photo-section {
        flex-direction: column;
        /* margin: auto; */
    }
    .my-photo{
        text-align: center;
    }
    .nav-left{
        padding-top: 2px;
            }
    .photo-contents div p{
        text-align: center;
    }

    .social-media {
        padding-bottom: 20px;
    }

    
    .about-container,.projects-container{
        flex-direction: column;
    }
    .box1{
        border-bottom: solid 1px #24292e;
    }
    .projects-container{
        display: flex;
        width:85%;
        flex-direction: column;
        margin: auto ;
    }
    .photo-section {
    padding-top: 10px;
} 
}
@media screen and (min-width: 781px)
{
    header{
        height: 100vh;
    }
    .box1{
        border-right: solid 2px #24292e;
    }
    .heading-main a{
        display: none;
    }
}
/*********************
        NAV BAR 
 ************************/
a,
i,
p {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.heading-main a{
    padding-top:20px;
    text-align: center;
}
.heading-main{
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav-left {
    padding-right: 360px;
    margin: 15px 0px;

}

.nav-right {
    margin: 20px 0px;
}
.nav-right i{
    color: #ff8e10;
}
.nav-right li {
    /* float: left; */
    list-style: none;
    font-size: 120%;
    padding: 0px 45px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    background: rgba(112, 111, 111, 0.801);
    align-content: center;
    justify-content: center;
    z-index: 999;
    width: 100%;
    
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(./img/hero.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    /* height: 100vh; */
    overflow: hidden;

}

.icon {
    font-size: 32px;
}

.nav-left h1:hover {
    transform: scale(1.07);
    color: #ff9e32;
}

.header img {
    filter: brightness(50%);
}

.nav-right li {
    display: inline-block;


}

.nav-right li:hover i {
    color: #ff9e32;
    display: none;

}

.nav-right li a {
    display: block;
    font-size: 1.05rem;
}

.nav-right li h3 {
    display: none;
    padding: 0px 0px;
    transition: visibility 2s;

}

.nav-right li:hover h3 {
    display: block;
    color: #ff9e32;

}

/*********************
        My Photo 
 ************************/

.my-photo {
    flex-basis: 20%;
}

.photo-center {
    display: flex;
    justify-content: space-around;
}

.my-photo img:hover {
    transform: scale(1.01);
}

.photo-contents div {
    padding: 30px 0px;
}

.photo-section {
    padding-top: 250px;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.photo-contents {
    padding-left: 19px;
    flex-basis: 60%;
}

.photo-contents p {
    line-height: 35px;
}

.social-media {
    padding-top: 40px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-media li {
    list-style: none;
    /* float: left; */
    padding: 0px 10px;
}

.ion-logo-instagram {
    color: white;
}

.ion-logo-facebook {
    color: white;
}

.ion-logo-facebook:hover {
    color: #3b5998;
}

.ion-logo-instagram:hover {
    color: #3f729b;
}

.ion-logo-github:hover {
    color: #24292e;
}

.ion-logo-github {
    color: white;
}

/*********************
        About
 ************************/
.about-section {
    background-color: rgba(243, 241, 241, 0.767);
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* height: 100vh; */
    padding-top:40px;
    padding-bottom: 100px;
    position: relative;
}

.about-heading,
.projects-heading,
.contact-heading {
    padding-top:50px;
    font-size: 35px;
    color: #24292e;
    text-align: center;
}

.about-heading:after,
.projects-heading:after,
.contact-heading:after {
    display: block;
    height: 2px;
    background-color: #ff9e32;
    content: " ";
    width: 80px;
    margin: 15px auto;
}

.about-container {
    box-shadow: 5px 5px 8px 1px #888888;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 20px;
    background: white;
    width: 70%;
}

.box1 {
    flex-basis: 20%;
    /* border-right: solid 2px #24292e; */
    margin-bottom: 10px;
}

.box2 {
    flex-basis: 50%;
}

.box1 h2 {
    text-align: center;
    color: #ff9e32;
    font-size: 35px;
}

.box2 p {
    padding-left: 20px;
    padding-bottom: 10px;
    color: black;
    font-size: 1.2rem;
    line-height: 35px;
}

/*********************
        Projects
 ************************/

.projects-section {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(./img/projects.jpg);
    background-size: cover;
    width: 100%;
    /* height: 100vh; */
    position: relative;
    padding-top: 20px;
}

.projects-heading {
    color: white;
}

.projects-container {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;

}

.projects-box img {
    width: 100%;
    padding-bottom: 20px;
}

.projects-box {
    flex-basis: 28%;
}

.projects-link {
    margin: 20px 0px;
    text-align: center;
}

.projects-link a {
    color: #ff9e32;
    font-size: 1.3rem;
}

/*********************
        Contact
 ************************/
.contact-div p {
    color: #24292e;
}

.contact-mail {
    color: #ff9e32;
    font-size: 1.6rem;
    /* text-align:center; */
}

.contact-mail:hover {
    color: #be6703;
}

.contact-section {
    text-align: center;
}

.contact-div {
    margin-top: 30px;
    margin-bottom: 40px;
}